<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/layout.css}" rel="stylesheet" />
<title>マイページ変更・確認画面</title>
</head>
<body>
	<!-- ヘッダー -->

	<header th:include="layout/header :: head">
		<th:block th:text="${loginForm.empId}"></th:block>

	</header>

	<!-- サイドバー -->
	<aside th:include="layout/aside :: side"></aside>
	<!-- メイン -->
	<article class="mypage">
		<h3 class="page_title">マイページ変更・確認画面</h3>




		<form th:action="@{/mypage}" th:object="${employee}"
			th:text="${empUser}" method="post">

			
			<div class="cell_title">社員番号</div>
			<div class="cell_required"></div>
			<div th
			<div th:text="${empUser.empId}" ></div>


			<div class="cell_title">名前</div>
			<div class="cell_required"></div>

			<div>
				<input type="text" th:text="${empUser.empId}">
			</div>



			<div class="cell_title">パスワード</div>
			<div class="cell_required"></div>
			<div>
				<input type="password" th:text="${empUser.empId}">
			</div>


			<div class="cell_title">生年月日</div>
			<div class="cell_required"></div>
			<div>
				<input type="text" th:text="${empUser.empId}">
			</div>

			<div class="gender">性別：</div>
			<div class="cell_required"></div>
			<div th:switch="${empUser.gender}">
				<a th:case=1 th:text="男"></a> <a th:case=2 th:text="女"></a> <input
					type="radio" name="gender" value="man" checked>男性 <input
					type="radio" name="gender" value="women">女性
			</div>



			<div class="btn_area_center">
				<input type="submit" value="変更確定" class="btn">
			</div>
		</form>


	</article>
	<!-- フッダー -->
	<footer th:include="layout/footer :: foot"></footer>

</body>
</html>